<div id="<%= dom_id desconto %>" class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <%= image_tag desconto.produto.foto, width: 50, height: 50, alt: "Foto do Produto" %>
    </div>
    <div class="col-md-1">
      <p><%= desconto.produto.nome %></p>
    </div>
    <div class="col-md-2">
      <p><%= Desconto.tipos[desconto.tipo] %></p>
    </div>

    <div class="col-md-2">
      <p><%= desconto.ativacao.strftime("%d/%m/%Y - %H:%M") %></p>
    </div>

    <div class="col-md-2">
      <p><%= desconto.inativacao.strftime("%d/%m/%Y - %H:%M") %></p>
    </div>
    <div class="col-md-2 align-items-center justify-content-between">
      <% if desconto.status == true %>
        <i class="bi bi-toggle2-on" style="font-size: 20px; background-color: white; color: #007FBA; padding: 5px; border-radius: 4px;"></i>
      <% else %>
        <i class="bi bi-toggle2-off" style="font-size: 20px; background-color: white; color: #007FBA; padding: 5px; border-radius: 4px;"></i>
      <% end %>
      <a href="/descontos"> <img src="/olho.svg" class="visualizacao"></a>
    </div>

  </div>
</div>
