<div id="<%= dom_id desconto %>" class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p><%= desconto.produto.nome %></p>
    </div>

    <div class="col-md-2">
      <p><%= Desconto.tipos[desconto.tipo] %></p>
    </div>

    <div class="col-md-2">
      <p><%= desconto.ativacao %></p>
    </div>

    <div class="col-md-2">
      <p><%= desconto.inativacao %></p>
    </div>
    <div class="col-md-2">
      <% if desconto.status == true %>
        <i class="bi bi-toggle2-on"></i>
      <% else %>
        <i class="bi bi-toggle2-off"></i>
      <% end %>
      <%= link_to '', desconto, class: "bi bi-eye" %>
    </div>
  </div>
</div>
