<div id="<%= dom_id desconto %>">
  <p>
    <strong>Produto:</strong>
    <%= desconto.produto_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= desconto.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= desconto.descricao %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= desconto.tipo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= desconto.status %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= desconto.preco %>
  </p>

  <p>
    <strong>Leve:</strong>
    <%= desconto.leve %>
  </p>

  <p>
    <strong>Pague:</strong>
    <%= desconto.pague %>
  </p>

  <p>
    <strong>Percentual desconto:</strong>
    <%= desconto.percentual_desconto %>
  </p>

  <p>
    <strong>Preco de:</strong>
    <%= desconto.preco_de %>
  </p>

  <p>
    <strong>Preco por:</strong>
    <%= desconto.preco_por %>
  </p>

  <p>
    <strong>Ativacao:</strong>
    <%= desconto.ativacao %>
  </p>

  <p>
    <strong>Inativacao:</strong>
    <%= desconto.inativacao %>
  </p>

</div>
