<%= form_with(model: desconto) do |form| %>
  <div class="card">
    <div class="card-header" style="background-color:white;">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Formulário cadastro desconto</h1>
        <div class="d-flex align-items-center">
          <div class="form-check form-switch">
            <%= form.check_box :status, class: "form-check-input", id: "status_checkbox" %>
            <%= label_tag :status, "Ativo", class: "form-check-label ml-2", id: "status_label" %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <% if desconto.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(desconto.errors.count, "error") %> prohibited this desconto from being saved:</h2>
          <ul>
            <% desconto.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div id="produto_field">
        <%= form.label :produto_id, "Produto", style: "display: block" %>
        <%= form.select :produto_id, options_for_select(Produto.all.map { |produto| [produto.nome, produto.id] }), {}, { class: 'form-select'} %>
      </div>

      <div id="nome_field">
        <%= form.label "Nome do desconto", style: "display: block" %>
        <%= form.text_field :nome, required: true, id: "desconto_nome", class: "form-control" %>
      </div>

      <div id="descricao_field">
        <%= form.label "Descrição do desconto", style: "display: block" %>
        <%= form.text_field :descricao, required: true, id: "desconto_descricao", class: "form-control" %>
      </div>

      <div id="tipo_field">
        <%= form.label "Tipo do desconto", style: "display: block" %>
        <%= form.select :tipo, options_for_select(Desconto.tipos.keys.map { |tipo| [tipo.humanize, tipo] }), {}, { class: 'form-select'} %>
      </div>

      <div id="preco_field">
        <%= form.label "Preço", style: "display: block" %>
        <%= form.text_field :preco, required: true, class: "form-control" %>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div id="preco_de_field" class="form-group">
            <%= form.label "Preço de", style: "display: block" %>
            <%= form.text_field :preco_de, required: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="preco_por_field" class="form-group">
            <%= form.label "Preço por", style: "display: block" %>
            <%= form.text_field :preco_por, required: true, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div id="ativacao_field" class="form-group">
            <%= form.label "Data da ativação", style: "display: block" %>
            <%= form.date_field :ativacao, required: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="inativacao_field" class="form-group">
            <%= form.label "Data da inativação", style: "display: block" %>
            <%= form.date_field :inativacao, required: true, class: "form-control" %>
          </div>
        </div>
      </div>


      <div id="leve_field">
        <%= form.label :leve, style: "display: block" %>
        <%= form.number_field :leve, required: true, class: "form-control" %>
      </div>

      <div id="pague_field">
        <%= form.label :pague, style: "display: block" %>
        <%= form.number_field :pague, required: true, class: "form-control" %>
      </div>

      <div id="percentual_desconto_field">
        <%= form.label :percentual_desconto, style: "display: block" %>
        <%= form.text_field :percentual_desconto, required: true, class: "form-control" %>
      </div>
    </div>
    <div class="card-footer text-right">
      <%= form.submit "Enviar", class: "btn btn-primary", data: {turbo: false} %>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const statusCheckbox = document.getElementById('status_checkbox');
    const statusLabel = document.getElementById('status_label');
    const tipoSelect = document.getElementById('desconto_tipo');

    const fields = {
      leve_field: document.getElementById('leve_field'),
      pague_field: document.getElementById('pague_field'),
      percentual_desconto_field: document.getElementById('percentual_desconto_field'),
      preco_de_field: document.getElementById('preco_de_field'),
      preco_por_field: document.getElementById('preco_por_field'),
    };

    const showFieldsForTipo = (tipo) => {
      // Primeiro, oculta todos os campos extras
      for (const field in fields) {
        fields[field].style.display = 'none';
      }

      // Em seguida, exibe os campos necessários com base no tipo selecionado
      if (tipo === 'de_por') { // Substitua 'de_por' pelo valor correto do tipo "DE / POR"
        fields.preco_de_field.style.display = 'block';
        fields.preco_por_field.style.display = 'block';
      } else if (tipo === 'percentual') { // Substitua 'percentual' pelo valor correto do tipo "Percentual"
        fields.percentual_desconto_field.style.display = 'block';
      } else if (tipo === 'leve_mais_pague_menos') { // Substitua 'leve_mais_pague_menos' pelo valor correto do tipo "Leve Mais Pague Menos"
        fields.leve_field.style.display = 'block';
        fields.pague_field.style.display = 'block';
      }
    };

    // Adiciona um listener para o evento de mudança no checkbox
    statusCheckbox.addEventListener('change', function() {
      if (statusCheckbox.checked) {
        statusLabel.innerText = 'Ativo';
      } else {
        statusLabel.innerText = 'Inativo';
      }
    });

    // Adiciona um listener para o evento de mudança no campo tipo
    tipoSelect.addEventListener('change', function() {
      showFieldsForTipo(tipoSelect.value);
    });

    // Inicializa os campos no carregamento da página
    showFieldsForTipo(tipoSelect.value);
  });
</script>
